# Database credentials
USUARIO=example
SENHA=example
NOME_BANCO=example
DB_HOST=db

# Node app
PORT=5000
BASE_URL=http://localhost

# JWT Secret Keys
CHAVE_ACESSO=chaveSuperSecreta123456
CHAVE_REFRESH=chaveSuperSecreta123456
